<h1 class=" mb-4 font-extrabold leading-none tracking-tigh text-slate-500 text-3xl dark:text-white">
  <%= @symbol %>
</h1>

<h1 class="mb-12 font-extrabold leading-none tracking-tight text-slate-800  text-6xl dark:text-white">
  $<%= @price %>
</h1>

<button
  x-data="{}"
  @click="document.location = '/search'"
  class="text-white bg-slate-600 hover:bg-slate-500 focus:ring-4 focus:outline-none focus:ring-slate-300 font-medium rounded-lg text-sm px-4 py-2 "
>
  Back
</button>
